# Dependencies
node_modules/
pnpm-lock.yaml
yarn.lock

# Build outputs
dist/
dist-ssr/
build/

# Environment files
# Environment files
Backend/.env
Backend/.env.local
Backend/.env.*

# Node modules
Backend/node_modules/
Frontend/node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS / Editor stuff
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
